<mat-grid-list cols="3">
  <mat-grid-tile [rowspan]="2" [style.border-right]="'3px dashed #ddd'" *ngFor="let infirmier of cms.infirmiers"  >
    <mat-card>
      <mat-card-header>
        <mat-icon>account_box</mat-icon>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{getprenom(infirmier)}}</mat-card-title>
        <mat-card-subtitle>{{infirmier.nom}}</mat-card-subtitle>
        <mat-card-subtitle>ID : {{infirmier.id}}</mat-card-subtitle>
      </mat-card-header><br/>
      <div style="width:100%" align="center">
      <img mat-card-image src="http://localhost:8090/data/{{infirmier.photo}}" style="width:300px;height:300px"/>
      </div>
      <h2 align="center">Patients :</h2>
      <mat-expansion-panel *ngFor="let patient of infirmier.patients" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{patient.nom}} {{getprenom(patient)}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Sexe : {{getSexe(patient)}}</p>
        <p>Ville : {{patient.adresse.ville}}</p>
        <p>Adresse : {{patient.adresse.rue}}</p>
        <p>N° Sécurité Sociale : {{getNum(patient)}}</p>
      </mat-expansion-panel>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>




