<mat-grid-list cols="3">
  <mat-grid-tile [rowspan]="2" [style.border-right]="'3px dashed #ddd'" *ngFor="let infirmier of cms.infirmiers"  >
    <mat-card>
      <mat-card-header>
        <mat-icon>account_box</mat-icon>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{getprenom(infirmier)}}</mat-card-title>
        <mat-card-subtitle>{{infirmier.nom}}</mat-card-subtitle>
        <mat-card-subtitle>ID : {{infirmier.id}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://localhost:8090/data/{{infirmier.photo}}"/>
      <mat-card-actions>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="addPatients()" (submit)="none()" align="center">Ajouter Patient</button>
        </div>
      </mat-card-actions>
      <div align="center">Patients :</div>
      <mat-list *ngFor="let patient of infirmier.patients">
        <mat-list-item>{{patient.nom}} {{getprenom(patient)}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<app-add-patient *ngIf="isAdding()"></app-add-patient>


